*{
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
  font-family: 'Varela Round', sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    padding-top: 30px;
}
.header {
    background-color: #eb4d4b;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: whitesmoke;
    
}
.menu{
  list-style: none; 
    margin:0;
    padding:0;
    
}
.menu li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.menu li a{
    color: black;
    display: block;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}
#openSidebarMenu:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input#openSidebarMenu{
    display: none;
}
.sidebarIconToggle {
  height: 22px;
    width: 22px;
    position: absolute;
    z-index: 99;
    top: 22px;
    left: 15px;
    transition: all 0.3s;
    cursor: pointer; 
}
.spinner {
    height: 3px;
    background-color: #fff;
    transition: all 0.3s;
}
.spinner.middle ,
.spinner.bottom{
    margin-top: 3px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
    opacity: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}
/* information row 1*/


.row1{
    background-color: white;
    height: 500px;
    width: 100%;
    margin-top: 60px;
}
.RowElement1{
    height: 500px;
    width: 800px;
    float: left;
}   
.RowElement2{
    height: 500px;
    width: 715px;
    float: right;  
}
