* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Varela Round', sans-serif;
    background: #fff;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 30px;
}

.header {
    background-color: #eb4d4b;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 10;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 10;
    border-right: 2px solid rgba(0, 0, 0, 0.283);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.menu li a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 20px;
    text-shadow: 0px 0px ;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}


#openSidebarMenu:checked~#sidebarMenu {
    transform: translateX(0);
}

input#openSidebarMenu {
    display: none;
}

.sidebarIconToggle {
    height: 22px;
    width: 22px;
    position: absolute;
    z-index: 99;
    top: 22px;
    left: 15px;
    transition: all 0.3s;
    cursor: pointer;
}

.spinner {
    height: 3px;
    background-color: #becac3;
    transition: all 0.3s;
}

.spinner.middle,
.spinner.bottom {
    margin-top: 3px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.middle {
    opacity: 0;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.top {
    transform: rotate(135deg);
    margin-top: 8px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
}

/* information row 1*/


.row1 {
    background-color: rgb(237, 242, 244);
    height: 100%;
    width: 100%;
    margin-top: 0;
}

.rowaline {
    height: 100%;
    width: 90%;
    margin-left: 0;
    margin-right: 0;
}

/*.RowElement1{
   /* background-image: url("c01f70946c9ae4f43aed4fa3ddf08023.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;
    text-align: left;
    display: flex;
    margin-left: 60px
    
    
}   
.RowElement2{
   /* background-image: url("car-repair-service-powerpoint-background_c68396c5fe__960_540.avif");
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    margin-left: 60px;
}
/*************start Header Section**************/
header {
    width: 100px;
    height: 100vh;
    display: flex;
    align-items: center;


}

.header-left {
    max-width: 630px;
    position: relative;
    margin-left: 10px;
}

.header-left h1 {
    font-size: 54px;
    line-height: 1.2;
    color: var(--color-primary);


}

.header-left h3 {
    font-size: 40px;
    font-weight: 400;
    color: var(--color-black);
    margin-top: .5rem;
}

.header-left p {
    margin: 15px 0 30px;
    line-height: 150%;
    font-size: 16px;

}

.header-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 100%;
    justify-content: space-between;

}

.header-right {
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
    right: -7%;
    left:300px;


}

.square-box {
    height: 100%;
    width: 100%;
    border: 25px solid;
    border-color: rgba(0, 0, 0, 0.443);
    background: var(--colour-white);
    background: var(--color-primary);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.2);
}
.square-box img{
    position: absolute;
    transform: rotate(-45deg);
    max-width: 650px;
    top:0;
    left: 137px;
    padding: 0px 0px 172% 0px 

}

square-box2 {

    position: absolute;
    width: 700px;
    height: 700px;
    background: #898282;
    transform: rotate(45deg);
    top: 26%;
    right: 26%;
    z-index: -1;
}